
@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Read me </h1>
    <p>This is a Test Assessment for City Logistics</p>
    <p>To test, run the solution and Click on Products</p>
    <p>This will display the products using Razor view UI</p>
</div>
